body {
	height: 100%;
	margin: 0 auto;
	text-align: left;
	width: 50%;
	background-image: url(MB.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	font-size: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

h2 {
	font-size: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
}

h3, h4 {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
}

p {
  font-size: 16px;
  font-family: Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	hyphens: none;
	border: 1px solid rgb(0, 89, 82);
  padding: 20px;
  background-color: white;
}

img {
  float: left;
  padding: 5px;
}
