html {
  background-color: rgb(128,128,128);
  padding-bottom: 35px;
}
/* percentages used to be more responsive to different browser sizes */
body {
	height: 100%;
	margin: 0 auto;
	text-align: left;
  width: 50%;
}
/* font family variations for different browsers */
h1 {
	font-size: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

h2 {
	font-size: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
}
/* h3 and h4 are same styles, put under one selector */
h3, h4 {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: white;
}

article {
  border: 3px solid rgb(0, 89, 82);
  padding: 20px;
  background-color: white;
}

p {
  font-size: 12px;
  font-family: Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin: 0px;
}
/* image floated within the parent article tag to align properly with p content */
img {
  float: left;
  padding-right: 15px;
}
