html {
  background-color: #F0F8FF;
  padding: 35px;
}

header {
  font-size: 48px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
}

/* font family variations for different browsers */
h1 {
  font-size: 32px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

h2 {
  font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	color: black;
}

/* percentages used to be more responsive to different browser sizes */
body {
	height: 100%;
	margin: 0 auto;
  width: 800px;
  text-align: center;
}

/*article {
  border: 3px solid rgb(0, 89, 82);
  padding: 20px;
  background-color: white;
}*/

article ul {
  list-style-type: none;
  margin-right: 50px;
}

p {
  font-size: 12px;
  font-family: Georgia, Times, "Times New Roman", serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  margin: 0px;
}
/* image floated within the parent article tag to align properly with p content */
img {
  padding-bottom: 15px;
}

aside {
  float: left;
}
